@media screen and (max-width:960px){
    #div1{
        background: gold;
    }
}
@media screen and (max-width:768px){
    #div1{
        background: #000;
    }
}
@media screen and (orientation:landscape){
    #div1{
        background:#E31559;
    }
}